body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Karla', 'Markazi Text';
}

#root {
  display: grid;
  grid-template-columns: 1fr 2fr;
}



